[aws:cloudfront:accesslogs]
SHOULD_LINEMERGE = false
TIME_PREFIX = ^
MAX_TIMESTAMP_LOOKAHEAD = 32
KV_MODE = none
TRUNCATE = 20000

[aws:waf]
SHOULD_LINEMERGE = false
INDEXED_EXTRACTIONS = json
KV_MODE = json
TRUNCATE = 50000
TIME_PREFIX = "timestamp":
MAX_TIMESTAMP_LOOKAHEAD = 13
